novoEmail/WebContent/wsdl/emailaddress_schema1.xsd

<xs:schema xmlns:tns="http://novoEmail/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://novoEmail/" version="1.0">

  <xs:element name="validarEmailAddress" type="tns:validarEmailAddress"/>

  <xs:element name="validarEmailAddressResponse" type="tns:validarEmailAddressResponse"/>

  <xs:complexType name="validarEmailAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validarEmailAddressResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
